<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8b7f67">  <td>16/07/28 09:41:22</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;AutomateTestNG.beforeTest()[pri:0, instance:testng.AutomateTestNG@754ba872]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>16/07/28 09:41:26</td>   <td>3988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomateTestNG.automateLoanCenter(java.lang.String, org.apache.poi.xssf.usermodel.XSSFRow)[pri:0, instance:testng.AutomateTestNG@754ba872]">automateLoanCenter</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>16/07/28 09:42:43</td>   <td>80703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomateTestNG.automateLoanCenter(java.lang.String, org.apache.poi.xssf.usermodel.XSSFRow)[pri:0, instance:testng.AutomateTestNG@754ba872]">automateLoanCenter</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>16/07/28 09:44:53</td>   <td>211174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomateTestNG.automateLoanCenter(java.lang.String, org.apache.poi.xssf.usermodel.XSSFRow)[pri:0, instance:testng.AutomateTestNG@754ba872]">automateLoanCenter</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>16/07/28 09:44:56</td>   <td>214023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomateTestNG.automateLoanCenter(java.lang.String, org.apache.poi.xssf.usermodel.XSSFRow)[pri:0, instance:testng.AutomateTestNG@754ba872]">automateLoanCenter</td> 
  <td>main@13329486</td>   <td></td> </tr>
</table>
