<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="86b085">  <td>17/01/17 14:32:29</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;AutomateTestNG.beforeTest()[pri:0, instance:testng.AutomateTestNG@62150f9e]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@899644639</td>   <td></td> </tr>
<tr bgcolor="86b085">  <td>17/01/17 14:32:30</td>   <td>1071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomateTestNG.automateLoanCenter(java.lang.String, org.apache.poi.xssf.usermodel.XSSFRow)[pri:0, instance:testng.AutomateTestNG@62150f9e]">automateLoanCenter</td> 
  <td>main@899644639</td>   <td></td> </tr>
<tr bgcolor="86b085">  <td>17/01/17 14:33:36</td>   <td>66644</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomateTestNG.automateLoanCenter(java.lang.String, org.apache.poi.xssf.usermodel.XSSFRow)[pri:0, instance:testng.AutomateTestNG@62150f9e]">automateLoanCenter</td> 
  <td>main@899644639</td>   <td></td> </tr>
<tr bgcolor="86b085">  <td>17/01/17 14:39:21</td>   <td>411516</td> <td>&nbsp;</td><td title="&lt;&lt;AutomateTestNG.aftertest()[pri:0, instance:testng.AutomateTestNG@62150f9e]">&lt;&lt;aftertest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@899644639</td>   <td></td> </tr>
</table>
