<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8cc0ba">  <td>16/08/01 18:51:58</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;AutomateTestNG.beforeTest()[pri:0, instance:testng.AutomateTestNG@e45f292]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540585569</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>16/08/01 18:52:00</td>   <td>2215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomateTestNG.automateLoanCenter(java.lang.String, org.apache.poi.xssf.usermodel.XSSFRow)[pri:0, instance:testng.AutomateTestNG@e45f292]">automateLoanCenter</td> 
  <td>main@540585569</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>16/08/01 18:52:58</td>   <td>60691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomateTestNG.automateLoanCenter(java.lang.String, org.apache.poi.xssf.usermodel.XSSFRow)[pri:0, instance:testng.AutomateTestNG@e45f292]">automateLoanCenter</td> 
  <td>main@540585569</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>16/08/01 18:57:18</td>   <td>320490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomateTestNG.automateLoanCenter(java.lang.String, org.apache.poi.xssf.usermodel.XSSFRow)[pri:0, instance:testng.AutomateTestNG@e45f292]">automateLoanCenter</td> 
  <td>main@540585569</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>16/08/01 18:57:21</td>   <td>323088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomateTestNG.automateLoanCenter(java.lang.String, org.apache.poi.xssf.usermodel.XSSFRow)[pri:0, instance:testng.AutomateTestNG@e45f292]">automateLoanCenter</td> 
  <td>main@540585569</td>   <td></td> </tr>
</table>
