<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b6bec2">  <td>17/02/16 23:51:28</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;AutomateTestNG.aftertest()[pri:0, instance:testng.AutomateTestNG@58ea606c]">&lt;&lt;aftertest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1647766367</td>   <td></td> </tr>
<tr bgcolor="b6bec2">  <td>17/02/16 23:42:29</td>   <td>-538459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomateTestNG.automateLoanCenter(java.lang.String, org.apache.poi.xssf.usermodel.XSSFRow)[pri:0, instance:testng.AutomateTestNG@58ea606c]">automateLoanCenter</td> 
  <td>main@1647766367</td>   <td></td> </tr>
<tr bgcolor="b6bec2">  <td>17/02/16 23:43:14</td>   <td>-493198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomateTestNG.automateLoanCenter(java.lang.String, org.apache.poi.xssf.usermodel.XSSFRow)[pri:0, instance:testng.AutomateTestNG@58ea606c]">automateLoanCenter</td> 
  <td>main@1647766367</td>   <td></td> </tr>
<tr bgcolor="b6bec2">  <td>17/02/16 23:42:27</td>   <td>-540673</td> <td>&nbsp;</td><td title="&gt;&gt;AutomateTestNG.beforeTest()[pri:0, instance:testng.AutomateTestNG@58ea606c]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1647766367</td>   <td></td> </tr>
</table>
