<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b56998">  <td>16/08/02 18:18:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomateTestNG.automateLoanCenter(java.lang.String, org.apache.poi.xssf.usermodel.XSSFRow)[pri:0, instance:testng.AutomateTestNG@6973b51b]">automateLoanCenter</td> 
  <td>main@1608297024</td>   <td></td> </tr>
<tr bgcolor="b56998">  <td>16/08/02 18:20:00</td>   <td>85942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomateTestNG.automateLoanCenter(java.lang.String, org.apache.poi.xssf.usermodel.XSSFRow)[pri:0, instance:testng.AutomateTestNG@6973b51b]">automateLoanCenter</td> 
  <td>main@1608297024</td>   <td></td> </tr>
<tr bgcolor="b56998">  <td>16/08/02 18:24:41</td>   <td>367172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomateTestNG.automateLoanCenter(java.lang.String, org.apache.poi.xssf.usermodel.XSSFRow)[pri:0, instance:testng.AutomateTestNG@6973b51b]">automateLoanCenter</td> 
  <td>main@1608297024</td>   <td></td> </tr>
<tr bgcolor="b56998">  <td>16/08/02 18:24:44</td>   <td>369853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomateTestNG.automateLoanCenter(java.lang.String, org.apache.poi.xssf.usermodel.XSSFRow)[pri:0, instance:testng.AutomateTestNG@6973b51b]">automateLoanCenter</td> 
  <td>main@1608297024</td>   <td></td> </tr>
<tr bgcolor="b56998">  <td>16/08/02 18:18:33</td>   <td>-1138</td> <td>&nbsp;</td><td title="&gt;&gt;AutomateTestNG.beforeTest()[pri:0, instance:testng.AutomateTestNG@6973b51b]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1608297024</td>   <td></td> </tr>
</table>
